.birds-container{
    width: 80%;
    margin: auto;
}

.birds-container h3{
    text-align: center;
    margin-top: -10px;
    color: rgb(5, 5, 56);
    font-weight: bold;
    font-size: 25px;
}

.birds-images {
    border: 1px solid grey;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: auto;

}

.birds-images img {
    object-fit: cover;
    width: 100%;
    border: 1px solid grey;
    height: 150px;
}